.account-window{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;

    height: 100%;
    &__head{
        display: flex;
        justify-content: space-around
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 21px;

        height: 100%;

        padding: 20px 57px  0;
    }

    &__button{        
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }
}