.admin-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__in{
        max-width: 1440px;
    }

    &__header{
        margin: 50px 0;
    }

    &__operations{
        display: flex;
        gap: 20px;
    }

    &__window{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        margin: 0 20px;

        &-inputs__radios{
            display: flex;
            flex-direction: column;
            gap: 10px;

            div {
                
                span{
                    font-size: 24px;
                    font-weight: 300;
                    width: 100px;
                }
                display: flex;

            }
        }

        &-button{
            display: flex;
            justify-content: center;
        }
    }
}