.cart{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    &-list{
        display: flex;
        flex-direction: column;
    
        gap: 21px;
        margin: 46px 32px 0;
        &__product{
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            gap: 20px;
            font-weight: 300;
            font-size: 24px;
    
            border-bottom: 1px solid #000000;
            padding-bottom: 10px;
    
            &-title{
                max-width: 250px;
            }
    
            &-count{
                display: flex;
                align-items: center;
            }
        }
    }

    &-button{
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }
}