.switcher-button{
    flex-grow: 1;
    text-align: center;
    background: #fff;
    & button{
        font-weight: 300;
        font-size: 24px; 
        height: 69px;
        width: 100%;

        &.active {
            background: rgba(124, 27, 27, 0.3);
        }
    
        &.no-active {
            background: #fff;
        }
    }   
}